
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Login.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
 <body>
        <div class="login-popup-wrap new_login_popup">
            <div class="login-popup-heading text-center">
                <h4><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>Creating Database </h4>
            </div>
            <p>
                Anasayfa ya yönlendiriliyorsunuz...
            </p>
        </div>
    </body>
</html>
<script type="text/javascript">
    setTimeout(function () {
        window.location = "/Home/Index"
    },2000);
</script>

