<div class="container">
    <hr>
    <footer>
        <div class="row bg-info">
            <div class="col-lg-4 text-left">
                <p>Copyright &copy; My Web Site : @DateTime.Now</p>
            </div>
            <div class="col-lg-5 text-left">
                <p>
                    Adres: A mah. B.Sokak No:45 <br />&emsp;&emsp;&emsp;
                    Bilinmeyen Ülke, Duyulmayan Şehir <br />
                    Telefon: aaa111bbb<br />

                </p>
            </div>
            <div class="col-lg-3 text-left">
                <h5>
                    <strong>E-Bülten Gönderim</strong>
                </h5>
                <div class="input-group">
                    <input type="text" class="form-control" id="txtBulten" placeholder="E-Posta Adresiniz" />
                    <span class="input-group-btn">
                        <button type="button" id="btnSend" class="btn btn-primary">
                            <span class="glyphicon glyphicon-send">
                            </span> Gönder
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
